# Production Environment Variables for Railway
PORT=3001

# Database Configuration
# You'll need to replace this with your actual MongoDB connection string
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/getheyway?retryWrites=true&w=majority&appName=clusterName


# API Configuration
VITE_API_BASE_URL=https://admin.getheyway.com/api

# Optional: Add any other production-specific variables
# REDIS_URL=redis://your-redis-instance
# JWT_SECRET=your-jwt-secret
